body {
  background-color: rgb(57, 57, 57);
  color: rgb(215, 214, 218);
  font-family: 'Permanent Marker', cursive;
  box-sizing: border-box;

}

h1 {
  font-size: 4vw;
  text-align: center;
}

.settings{
  width: 100%;

}

.firstColumn{
  display: inline-block;
  width: 43%;
  margin-top: 0%;
  margin-bottom: 0%;

}

.secondColumn{
  display: inline-block;
  width: 57%;
  font-size: 3vw;
}

.quarter{
  display: inline-block;
  width: 25%;
  text-align: left;
}

.quarter.size{
  color:rgb(85, 85, 85);
  text-align: center;
}

.quarter.size:hover{
  color: rgb(215, 214, 218);
}

.leftside{
  width: 38vw;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  /* background-color: red; */
}

.button{
  display: inline-block;
  margin: 2.5%;

}

#reset, #single, #clearScore{
  color: rgb(215, 214, 218);
  background: transparent;
  font-family: 'Permanent Marker', cursive;
  border-radius: 10px;
  font-size: 2vw;
  outline: none;
  width: 25vw;

}

#single{
  color: rgb(85, 85, 85);
}

.score{
  width: 100%;
  /* background-color: pink; */
  font-size: 2.5vw;
  padding-top: 8%;
  padding-bottom: 8%;
  /* display: inline-block; */
}

.rightside{
  width: 46vw;
  display: inline-block;
}
.board {
  display: inline-grid;
  background-color: rgb(215, 214, 218);
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* repeat(4, 11.125vw); */
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  /* repeat(4, 11.125vw); */
  width: 46vw;
  height: 46vw;
  grid-gap: 0.5vw;
  margin: 0;

}

.board > div {
  background-color: rgb(57, 57, 57);
  color: rgb(223, 237, 136);

  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */

  text-align: center;
  line-height: 100%;

  font-family: 'Permanent Marker', cursive;
  font-weight: 600;
  overflow: hidden;
}

.outcomeBackground{
  background: radial-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.6));
  width: 46vw;
  height: auto;
  display: none;
  border-radius: 10px;
  /* display: inline-block; */
  position: relative;
  top: -28vw;

}

.outcome {
  background: transparent;
  font-size: 5vw;
  width: 46vw;
  color:rgb(223, 140, 244);
  text-align: center;
}
